<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
    <link href="/css/layout.css" rel="stylesheet">

    <th:block th:replace="${link}"></th:block>
</head>
<body>
<aside>
    <div class="brand">
        <img alt="logo" src="/images/logo.jpg">
        <span>Dabalos Solutions</span>
    </div>
    <ul>
        <li>
            <img alt="dashboard-logo" src="/images/icons/dashboard.svg">
            <span class="menu-title">Dashboard</span>
        </li>
    </ul>
</aside>
<main>
<!--    placeholder for content here-->
    <div th:replace="${content}"></div>
</main>
</body>
</html>