:root{
    --border-radius: 8px;
    --transition: all 0.2s ease-in-out;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    --success-bg: rgba(22,192, 152, .38);
    --success-border: #00B087;
    --success-text: #008767;
    --error-bg: rgba(239, 68, 68, .38);
    --error-border: #EF4444;
    --error-text: #B91C1C;
    --warning-bg: rgba(245, 158, 11, .38);
    --warning-border: #F59E0B;
    --warning-text: #B45309;
    --form-border: #d1d5db;

}


a:link, a{
    color: var(--accent);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1rem;
}

a:hover{
    text-decoration: underline;
}

form {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

input[type="text"] {
    flex: 1;
    padding: 0.65rem 1rem;
    border: 1px solid var(--form-border);
    border-radius: var(--border-radius);
    font-family: inherit;
    transition: var(--transition);
    background: white;
}

input[type="text"]:focus {
    outline: none;
    border-color: var(--accent);
    box-shadow: 0 0 0 2px rgba(var(--accent), 0.2);
}

button, .button {
    box-sizing: border-box;
    background: var(--accent);
    color: white;
    border: none;
    padding: 0.65rem 1.2rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
    font-weight: 600;
}

button:hover {
    border: var(--accent) 2px solid;
    background: var(--primary);
    color: var(--accent);
}

a.button.success{
    padding: 0.2rem 1rem;
    color: var(--success-text);
    border: var(--success-border) 2px solid;
    background: var(--primary);
}

a.button.error{
    padding: 0.2rem 1rem;
    color: var(--error-text);
    border: var(--error-border) 2px solid;
    background: var(--primary);
}

a.button.warning{
    padding: 0.2rem 1rem;
    color: var(--warning-text);
    border: var(--warning-border) 2px solid;
    background: var(--primary);
}


a.button:hover{
    text-decoration:none;
}

a.button.success:hover{
    background: var(--success-bg);
}

a.button.error:hover{
    background: var(--error-bg);
}

a.button.warning:hover{
    background: var(--warning-bg);
}


table {
    width: 100%;
    border-collapse: collapse;
    background: var(--color-surface);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
}

th, td {
    padding: 1rem;
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
}

th {
    /*background: #f0fdf4;*/
}

tr:last-child td {
    border-bottom: none;
}


