*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-sans: 'Inter', system-ui, sans-serif;
    --primary-color: #FAFBFF;
    --tertiary-color: white;
    --secondary-color: black;
}

body {
    font-family: var(--font-sans);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "sidebar main";
}

aside{
    grid-area: sidebar;
    background-color: var(--tertiary-color);
}

.brand > img{
    max-height: 37px;
    width: auto;
}

main{
    grid-area: main;
}