<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit [[${student.fullName}]]</title>
    <link rel="stylesheet" th:href="@{/css/create.css}">
</head>
<body>
<h1 th:text="'Edit ' + ${student.fullName}"></h1>
<div>
    <form action="/update" method="POST" th:object="${student}">
        <input type="hidden" name="id"  th:field="*{id}">
        <div>
            <label for="fname">First Name</label>
            <input type="text" id="fname" th:field="*{firstName}" th:classappend="${#fields.hasErrors('firstName')} ? 'error' : '' ">
            <p class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
        </div>
        <div>
            <label for="mname">Middle Name</label>
            <input type="text" id="mname" th:field="*{middleName}">
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" class="input-text"
                   th:field="*{lastName}"
                   th:classappend="${#fields.hasErrors('lastName')} ? 'error' : '' ">
            <p class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
        </div>
        <div>
            <label for="suffix">Suffix</label>
            <input type="text" id="suffix" th:field="*{suffix}">
        </div>
        <div>
            <label>Gender</label>
            <select th:field="*{gender}" id="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <!--                Elvis operator  ?:   -->
            <!--                <input type="radio" id="genderMale" name="gender" value="Male" th:checked="${(student.gender ?: 'Male') == 'Male'}">-->
            <!--                <label for="genderMale">Male</label>-->
            <!--                <input type="radio" id="genderFemale" name="gender" value="Female" th:checked="${(student.gender ?: 'Male') == 'Female'}">-->
            <!--                <label for="genderFemale">Female</label>-->
        </div>

        <div>
            <label for="bday">Birth Day</label>
            <input type="date" id="bday" th:field="*{birthDate}" th:value="${student.birthDate}">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" class="input-text"
                   th:field="*{email}"
                   th:classappend="${#fields.hasErrors('email')} ? 'error' : '' ">
            <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>
        <div>
            <label for="level">Year Level</label>
            <select th:field="*{level}" id="level">
                <option th:each="levelOp:${levels}"
                        th:value="${levelOp}"
                        th:text="'Year ' + ${levelOp}"
                         ></option>
            </select>

        </div>

        <div>
            <label for="address">Address</label>
            <textarea id="address"  rows="2" cols="20" th:field="*{address}"></textarea>
        </div>
        <div class="action">
            <a th:href="@{/}" class="button cancel">Cancel</a>
            <button>Save</button>
        </div>
    </form>

</div>
</body>
</html>